@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <div class="card-footer text-muted" style="align-content: center;">
        <a class="btn btn-outline-secondary" asp-area="" asp-controller="Customers" asp-action="Index">Customer Page</a>
        <a class="btn btn-outline-secondary" asp-area="" asp-controller="Employees" asp-action="Index">Employee Page</a>
    </div>
</div>
