@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to iGARBAGE</h1>
    <p>Learn about <a href="https://www.google.com/search?q=Expensive+trash&sxsrf=ALeKk02TNSIv_CpE2L5QFQtpkPgkEyBaLA:1605838575159&source=lnms&tbm=isch&sa=X&ved=2ahUKEwiPr9ruhpDtAhVSVTUKHTTTCd4Q_AUoAXoECBAQAw&biw=1920&bih=978">The latest in expensive garbage</a>.</p>
</div>
<div>
    <div class="card-footer text-muted d-flex justify-content-center" style="align-content: center;">
        @*<a class="btn btn-outline-secondary" asp-area="" asp-controller="Customer" asp-action="Index">Customer Page</a>
        <a class="btn btn-outline-secondary" asp-area="" asp-controller="Employee" asp-action="Index">Employee Page</a>*@
        <li class="nav-item">
            <a class="btn btn-outline-secondary" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
    </div>
</div>
