@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to iGARBAGE</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">The latest in expensive garbage</a>.</p>
</div>
<div>
    <div class="card-footer text-muted d-flex justify-content-center" style="align-content: center;">
        <a class="btn btn-outline-secondary" asp-area="" asp-controller="Customer" asp-action="Index">Customer Page</a>
        <a class="btn btn-outline-secondary" asp-area="" asp-controller="Employee" asp-action="CustomerList">Employee Page</a>
    </div>
</div>
